.divcount {
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 50%;
    border: 2px solid #006600;
    width: 150px;
    height: 150px;
    text-align: center;
}

.divcount span {
   height: 150px;
   display: inline-block;
   zoom: 1;
   *display: inline;
   vertical-align: middle;
 }

.divcount p {
   display: inline-block;
   zoom: 1;
   *display: inline;
   vertical-align: middle;
 }